/javascript/
inclass_0/LargeCSVFile.csv\:Zone.Identifier
inclass_0/LargeCSVFile.csv
/HW-2/fullname/build/
/HW-2/fullname/node_modules/
/HW-2/fullname/.git/
/HW-2/fullname//.git/
/HW-2/node_modules/
/HW-2/build/
/HW-2/HW2-Fullname.zip

